<div class="row">
  <div class="col-md-8 sentence">
    <div class="new-sentence row">
      <div class="col-md-8">
        <h1>Sentence</h1>
      </div>
      <div class="next_sentence col-md-4">
        <a class="button">Next sentence</a>
      </div>
      <div class="col-md-12">
        <h2>The <span id="first-word">_____</span> sat on the <span id="second-word">_____</span>.</h2>
      </div>
    </div>
  </div>
  <div class="col-md-4 words">
    <div class="animals">
      <h1>Animals</h1>
      <ul>
        <li><a class="animal" href="#">pig</a></li>
        <li><a class="animal" href="#">cat</a></li>
        <li><a class="animal" href="#">dog</a></li>
        <li><a class="animal" href="#">horse</a></li>
        <li><a class="animal" href="#">lion</a></li>
      </ul>
    </div>
    <div class="places">
      <h1>Places</h1>
      <ul>
        <li><a class="place" href="#">sofa</a></li>
        <li><a class="place" href="#">toilet</a></li>
        <li><a class="place" href="#">bed</a></li>
        <li><a class="place" href="#">plants</a></li>
        <li><a class="place" href="#">throne</a></li>
      </ul>
    </div>
  </div>
</div>
