<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="row">
    <div class="col-md-8 sentence">
      <div class="new-sentence row">
        <div class="col-md-8">
          <h1>Sentence</h1>
        </div>
        <div class="next-word-button col-md-4">
          <a class="button">Next word</a>
        </div>
        <canvas id="simple_sketch" width="800" height="300"></canvas>
        <script type="text/javascript">
        $(function() {
          $('#simple_sketch').sketch();
        });
        </script>
        <div class="col-md-12">
          <h2 id="sentence"></h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 words">
      <div class="choice">
        <h2 id="name1">Your name</h2>
      </div>
      <div class="choice">
        <h2 id="animal1">Animals</h2>
      </div>
      <div class="choice">
        <h2 id="toys">Toys</h2>
      </div>
      <div class="choice">
        <h2 id="chores">Chores</h2>
      </div>
      <div class="choice">
        <h2 id="places">Places</h2>
      </div>
      <div class="choice">
        <h2 id="food">Food</h2>
      </div>
      <div class="choice">
        <h2 id="name2">Your friend's name</h2>
      </div>
      <div class="choice">
        <h2 id="animal2">Your friend is a:</h2>
      </div>
      <div class="choice">
        <h2 id="game">Game</h2>
      </div>
      <div class="choice">
        <h2 id="feelings">Feelings</h2>
      </div>
    </div>
  </body>
  </html>
