<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="row">
    <div class="col-md-8 sentence">
      <div class="new-sentence row">
        <div class="col-md-12">
          <h1>Create your story</h1>
        </div>
        <!-- <div class="next-word-button col-md-4">
        <a class="button">Next word</a>
      </div> -->
      <div class="col-md-12">
        <h2 id="sentence"></h2>
      </div>
      <div class="col-md-12 paint-frame">
        <canvas id="simple_sketch" width="1130" height="390"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-4 words">
    <div id="choice">
      <div id="title">
      </div>
      <ul id="words">
      </ul>
    </div>
    <div class="next-word-button col-md-9 col-md-offset-1">
      <a class="button" id="next-word">Next word</a>
    </div>
    <div id="picture">
    </div>
  </div>
</body>
</html>
