<div class="row">
  <div class="col-md-8 sentence">
    <div class="new-sentence">
      <h1>Sentence</h1>
        <h2>The _________ sat on the _______.</h2>
    </div>
  </div>
  <div class="col-md-4 words">
    <h1>Words</h1>
    <ul>
      <li><a href="#">pig</a></li>
      <li><a href="#">cat</a></li>
      <li><a href="#">dog</a></li>
      <li><a href="#">horse</a></li>
      <li><a href="#">lion</a></li>
      <li><a href="#">snake</a></li>
    </ul>
  </div>
</div>
