<div class="row">
  <div class="col-md-8 sentence">
    <div class="new-sentence">
      <h1>Sentence</h1>
        <h2>The <span id="first-word">_____</span> sat on the <span id="second-word">_____</span>.</h2>
    </div>
  </div>
  <div class="col-md-4 words">
    <h1>Words</h1>
    <ul>
      <li><a id="0" href="#">pig</a></li>
      <li><a id="1" href="#">cat</a></li>
      <li><a id="2" href="#">dog</a></li>
      <li><a id="3" href="#">horse</a></li>
      <li><a id="4" href="#">lion</a></li>
    </ul>
  </div>
</div>
