<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<div class="row">
  <div class="col-md-8 sentence">
    <div class="new-sentence row">
      <div class="col-md-8">
        <h1>Sentence</h1>
      </div>
      <div class="next-sentence-button col-md-4">
        <a class="button">Next sentence</a>
      </div>
      <div class="col-md-12">
        <h2>The <span id="first-word">_____</span> sat on the <span id="second-word">_____</span>.</h2>
      </div>
      <div class="col-md-12 second-sentence">
        <h2>It ate up the <span id="first-word">_____</span> and drank the <span id="second-word">_____</span>.</h2>
      </div>
    </div>
  </div>
  <div class="col-md-4 words">
    <div class="animals">
      <h2 id="animals">Animals</h2>
    </div>
    <div class="places">
      <h3 id="places">Places</h3>
    </div>
  </div>
  <script src="javascripts/story.js"></script>
  </body>

  </html>
