<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>story-app</title>
  </head>
  <body>
    <%- body %>
  </body>
</html>
