body {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 2em;
}

h1 {
  margin-bottom: 20px;
}

a {
  color: #00B7FF;
  font-size: 1em;
}

#choice {
  margin-bottom: 20px;
  /*display: none;*/
}

li {
  list-style-type: none;
  max-height: 60px;
}

.button {
  background-color: #0099cc;
  color: #ffffcc;
  border-radius: 5px;
  border: none;
  padding: 10px 10px;
  margin: 30px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  transition-duration: 0.4s;
  border: 2px solid #008CBA;
  cursor: pointer;
}

.button:hover {
    background-color: #ffffcc;
    color: #0099cc;
    text-decoration: none;
}


.sentence,
.words {
  height: 100vh;
}

.new-sentence h1 {
  font-size: 6em;
}


.words h1 {
  font-size: 2em;
}

.new-sentence h2 {
  font-size: 3em;
}

#title {
  font-size: 2em;
  text-transform: capitalize;
}

.sentence {
  background-color: #ccffff;
  font-family: 'Baloo Bhaina', cursive;
}

.new-sentence {
  padding-left: 20px;
  padding-top: 30px;
}

.words {
  background-color: #ffffcc;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 3em;
  padding-top: 30px;
}

.second-sentence {
  display: none;
}
